html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: Arial;
  background: -webkit-linear-gradient(left, #434e62, #505a73, #546078);
  background: -o-linear-gradient(left, #434e62, #505a73, #546078);
  background: linear-gradient(to right, #434e62, #505a73, #546078);
  color: #fff; }

.clr {
  clear: both; }

a {
  text-decoration: none;
  color: #fff; }

a:hover {
  color: #ccc; }

hr {
  height: 1px;
  background: #c8cbd4;
  border: 0; }

header .bar1 {
  background-color: #00c0ff; }
  header .bar1 h1 {
    margin: 0;
    padding: 20px 0;
    font-weight: 700;
    font-size: 2.3em;
    text-transform: uppercase; }
    header .bar1 h1 a {
      text-decoration: none; }

#the_map #map_canvas {
  min-width: 100%;
  height: 300px; }

.nav_menu {
  background: #262e45; }
  .nav_menu ul {
    margin: 0;
    padding: 0; }
    .nav_menu ul li {
      list-style: none;
      display: inline-block; }
      .nav_menu ul li a {
        display: inline-block;
        padding: 15px 10px 20px;
        text-decoration: none;
        font-family: Arial;
        font-size: .9em; }
      .nav_menu ul li a:before {
        display: inline-block;
        font-size: 2.3em;
        margin-right: 10px;
        position: relative;
        bottom: -5px; }
      .nav_menu ul li a.ion-ios7-settings:before {
        transform: rotate(90deg); }
      .nav_menu ul li a:hover {
        background: #434e62; }
    .nav_menu ul li.current_page a {
      background: #434e62; }

#Certainty {
  padding: 10px; }
  #Certainty .filterLabel {
    font-size: .75em;
    text-align: center; }
  #Certainty .filter40-60, #Certainty .filter60-80, #Certainty .filter80-100 {
    width: 50px;
    height: 20px;
    margin: 0 auto; }
    @media only screen and (max-width: 800px) {
      #Certainty .filter40-60, #Certainty .filter60-80, #Certainty .filter80-100 {
        width: 80%; } }
  #Certainty .filter40-60 {
    background: #00d5c3; }
  #Certainty .filter60-80 {
    background: #f3ed7b; }
  #Certainty .filter80-100 {
    background: #ee4363; }
  #Certainty .title {
    margin: 0;
    padding: 0;
    font-weight: 100;
    font-size: 2.3em; }
  #Certainty .desc {
    font-size: .8em; }
  #Certainty .certainty-slider {
    background: -webkit-linear-gradient(left, #00d5c3, #f3ed7b, #ee4363);
    background: -o-linear-gradient(left, #00d5c3, #f3ed7b, #ee4363);
    background: linear-gradient(to right, #00d5c3, #f3ed7b, #ee4363);
    border: 1px solid #666;
    border-radius: 0;
    height: 25px;
    margin-bottom: 15px; }
    #Certainty .certainty-slider .ui-corner-all {
      height: 25px;
      width: 28px;
      border: 0;
      border-radius: 4px 4px 0 0;
      background: #fff; }
    #Certainty .certainty-slider .ui-corner-all:after {
      display: inline-block;
      content: '';
      border-top: 20px solid #fff;
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      position: relative;
      bottom: -24px; }
  #Certainty .scale img {
    margin-left: 1px; }
  #Certainty .scale_display {
    border: 1px solid #a0a7af;
    background: #5b667c;
    border-radius: 5px; }
    #Certainty .scale_display span {
      display: inline-block;
      background: #4d5466;
      padding: 8px 20px;
      border-radius: 5px 0 0 5px;
      font-size: 1em;
      text-align: center; }
    #Certainty .scale_display input {
      display: inline-block;
      padding: 0;
      background: none;
      border-radius: 0;
      border: 0;
      outline: 0;
      color: #fff;
      font-size: 1.5em;
      position: relative;
      bottom: -5px; }
  #Certainty .scale_details .btn-gen {
    float: right;
    margin-top: 20px;
    padding: 0 10px !important;
    font-size: 1.1em; }
  #Certainty .scale_details .ion-ios7-loop-strong:before {
    font-weight: 100;
    font-size: 1.5em;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    padding: 8px 0 13px; }
  #Certainty .quick-icons {
    text-align: right; }

.btn-gen {
  border: 0;
  outline: 0;
  padding: 20px 40px;
  border-radius: 5px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  font-size: 1.5em;
  font-family: Arial;
  font-weight: 100; }

.btn-green {
  background: #00d5c3;
  border-bottom-color: #01a99c;
  color: #fff; }

.btn-green:active {
  background: #01a99c;
  border-bottom-color: #027970; }

.btn-blue {
  background: #00c0ff;
  border-bottom-color: #009acc;
  color: #fff; }

.btn-blue:active {
  background: #009acc;
  border-bottom-color: #01769c; }

.btn-red {
  background: #d95d75;
  border-bottom-color: #ae4b5d;
  color: #fff; }

.btn-red:active {
  background: #ae4b5d;
  border-bottom-color: #72303d; }

.ion-printer, .ion-ios7-paperplane-outline {
  font-size: 4em;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px 15px;
  margin: 0 3px 5px 0;
  cursor: pointer; }

.ion-ios7-paperplane-outline {
  padding: 10px 20px; }

.filter-bar {
  margin-bottom: 20px; }

ul.filter-list {
  margin: 0;
  padding: 0;
  color: #888;
  float: left;
  width: 70%; }
  ul.filter-list li {
    list-style: none;
    font-family: Arial;
    font-size: 1em;
    background: #fff;
    position: relative;
    padding: 0 10px 0 0; }
    ul.filter-list li ul {
      margin: 0;
      padding: 0;
      width: 100%;
      position: absolute;
      z-index: 99999;
      display: none; }
      ul.filter-list li ul li {
        background: #202636;
        border-bottom: 1px solid #696d78;
        width: 100%;
        padding-right: 0; }
        ul.filter-list li ul li a {
          display: block;
          width: 100%;
          color: #fff;
          text-decoration: none;
          font-family: Arial; }
        ul.filter-list li ul li a:before {
          text-align: center;
          padding: 10px;
          font-size: 1.3em; }
        ul.filter-list li ul li a:hover:before {
          color: #57d5fe; }
      ul.filter-list li ul li:hover {
        background: #00c0ff; }
  ul.filter-list li:hover ul {
    display: block; }
  ul.filter-list li:before {
    font-family: 'FontAwesome';
    display: inline-block;
    width: 10px;
    margin-right: 10px;
    padding: 10px;
    background: #00c0ff;
    color: #fff;
    cursor: pointer; }

.prospect-box {
  clear: both;
  border: 1px solid #9da1aa;
  border-radius: 5px;
  background: #4a5265;
  padding: 10px;
  margin-bottom: 10px; }
  .prospect-box .pb-label {
    text-align: center;
    font-size: 1.1em; }
    .prospect-box .pb-label i.ionicons {
      display: block;
      width: 100%;
      font-size: 2em; }
  .prospect-box .ui-slider {
    height: 20px;
    background: #000;
    border: 0; }
    .prospect-box .ui-slider .ui-slider-handle {
      width: 22px;
      height: 29px;
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      background: url(images/handle.png) no-repeat center;
      border: 0; }
    .prospect-box .ui-slider .ui-slider-range {
      background: #00c0ff; }
  .prospect-box .ui-slider-handle {
    cursor: pointer; }

#Prospect-Table {
  margin: 0 0 20px 0;
  padding: 0;
  width: 100%;
  border: 1px solid #9ca0a9; }
  #Prospect-Table th, #Prospect-Table td {
    padding: 8px;
    background: #394052;
    text-align: center; }
  #Prospect-Table th {
    font-weight: 100;
    font-size: 1em; }
    #Prospect-Table th .ion-ios7-reload {
      font-size: 1.5em; }
    #Prospect-Table th .fa-angle-left, #Prospect-Table th .fa-angle-right {
      font-size: 2em; }
  #Prospect-Table .off {
    color: #686e7c; }
  #Prospect-Table th.firstcol {
    background: #56627c; }
  #Prospect-Table .thleft {
    float: left; }
  #Prospect-Table .thright {
    float: right; }
  #Prospect-Table .firstcol {
    width: 3%; }
  #Prospect-Table tbody td {
    font-size: .85em; }
    #Prospect-Table tbody td hr.C, #Prospect-Table tbody td hr.M, #Prospect-Table tbody td hr.Y {
      width: 50px;
      height: 19px;
      margin: 0 auto; }
    #Prospect-Table tbody td hr.C {
      background: #00d5c3; }
    #Prospect-Table tbody td hr.M {
      background: #ee4363; }
    #Prospect-Table tbody td hr.Y {
      background: #f3ed7b; }
  #Prospect-Table tbody .check, #Prospect-Table tbody .star {
    width: 5%;
    color: #545863; }
    #Prospect-Table tbody .check i, #Prospect-Table tbody .star i {
      font-size: 1.5em; }

.profile-a, .profile-b {
  margin-top: 30px; }
  .profile-a h1.coltitle, .profile-b h1.coltitle {
    font-size: 1.6em;
    font-weight: 700; }
  .profile-a .box1, .profile-a .box2, .profile-a .box3, .profile-b .box1, .profile-b .box2, .profile-b .box3 {
    padding: 10px; }
  .profile-a .row1 .profile-img, .profile-b .row1 .profile-img {
    background: #2f3954;
    box-shadow: 0 0 0 8px #555f78, 0 0 0 13px #6f778c;
    border-radius: 50%;
    margin: 25px auto;
    width: 130px;
    height: 130px; }
  .profile-a .row2 h3.colsubtitle, .profile-b .row2 h3.colsubtitle {
    font-size: 1.3em;
    margin: 50px auto 30px; }
  .profile-a .row2 .buttons, .profile-b .row2 .buttons {
    margin-top: 50px;
    text-align: right; }
    .profile-a .row2 .buttons button:first-child, .profile-b .row2 .buttons button:first-child {
      margin-right: 10px; }
  .profile-a .box1, .profile-b .box1 {
    background: #5d6b86; }
  .profile-a .box2, .profile-b .box2 {
    background: #2f3954; }
  .profile-a .box3, .profile-b .box3 {
    background: -webkit-linear-gradient(#677288, #565d6f, #606b7f);
    background: -o-linear-gradient(#677288, #565d6f, #606b7f);
    background: linear-gradient(#677288, #565d6f, #606b7f);
    border: 1px solid #fff;
    border-radius: 5px; }

.profile-a .profile-info {
  padding: 30px 0; }
  .profile-a .profile-info .name {
    margin: 0;
    padding: 0; }
  .profile-a .profile-info .title {
    margin: 5px 0; }
  .profile-a .profile-info .loc {
    color: #57d6ff; }
    .profile-a .profile-info .loc i {
      display: inline-block;
      margin-right: 5px; }
    .profile-a .profile-info .loc i:before {
      font-size: 1.5em;
      position: relative;
      bottom: -3px; }
.profile-a .box2 .clr {
  margin: 0 auto; }
.profile-a .box2 label, .profile-a .box2 .text {
  font-size: 1.1em; }
.profile-a .box2 label {
  width: 40%;
  float: left; }
.profile-a .box2 .text {
  float: left; }
.profile-a .box2 .bulleted {
  margin-left: 15px; }
  .profile-a .box2 .bulleted i {
    margin-right: 5px; }

.s1, .s2, .s3 {
  font-weight: normal; }

.s3 {
  font-size: 2em; }

.s2 {
  font-size: 1em; }

.s1 {
  font-size: .9em; }

.inferred-data {
  padding: 30px !important; }
  .inferred-data .desc {
    margin-bottom: 20px; }
    .inferred-data .desc label {
      display: block;
      width: 80% !important; }
    .inferred-data .desc label + div {
      clear: both; }

.prembox {
  padding-left: 40px !important; }
  .prembox .prembox-title {
    margin-bottom: 10px; }
  .prembox ul {
    margin: 0;
    padding: 0; }
    .prembox ul li {
      list-style: none; }
    .prembox ul li:before {
      font-family: "FontAwesome";
      content: "\f111";
      vertical-align: middle;
      font-size: .3em;
      margin-right: 5px;
      color: #00c0ff; }

.profile-b .mdetails .s2 {
  font-weight: bold; }
.profile-b .mdetails .ionicons {
  font-size: 1.8em;
  vertical-align: middle;
  text-align: center;
  width: 30px; }
.profile-b .box3 .clr {
  margin: 0 auto; }
.profile-b .box3 label, .profile-b .box3 .text {
  font-size: 1.1em; }
.profile-b .box3 label {
  width: 40%;
  float: left; }
.profile-b .box3 .text {
  float: left; }
.profile-b .box3 .bulleted {
  margin-left: 15px; }
  .profile-b .box3 .bulleted i {
    width: 15px;
    font-size: .9em;
    vertical-align: middle; }

/*# sourceMappingURL=master.css.map */
