{% extends "RefiBundle::login.html.twig" %}

{% block header %}
<h2>Header Login</h2>
{% endblock header %}





{% block content %}
<h2>Body</h2>
{% endblock content %}





{% block footer %}
  {{ parent() }}
  <h2>Footer</h2>
{% endblock footer %}

