<!DOCTYPE html>
<html lang="en" ng-app="sliderDemoApp" id="top">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>HotRefis: Target List Creator - Property Value</title>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="css/master.css">

</head>
<body class="prospect-listing">

<header>
  <div class="bar1">

    <center>
      <h1><a href="#">HotRefis</a></h1>
    </center>

  </div>
</header>

<!-- menu  -->
<div class="nav_menu">
<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <ul>
        <li><a href="professions.html" class="ionicons ion-ios7-home-outline">HOME</a></li>
        <li><a href="#" class="ionicons ion-ios7-settings">PROSPECT FILTERS</a></li>
        <li class="current_page"><a href="prospect-listing.html" class="ionicons ion-navicon">PROSPECT LISTS</a></li>
        <li><a href="#" class="ionicons ion-ios7-paper-outline">REFI REPORTS</a></li>
      </ul>
    </div>
  </div>
</div>
</div>
<!-- \menu  -->

<!-- the_map -->
<div id="the_map">
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
  <script>
    function initialize(){
      var mapCanvas = document.getElementById('map_canvas');
      var mapOptions = {
        center: new google.maps.LatLng(37.765666, -122.412373),
        zoom: 8,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(mapCanvas, mapOptions);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>

  <div id="map_canvas"></div>

</div>
<!-- \the_map -->

<div id="Certainty">
  <div class="container">
    <div class="row-fluid">

        <div class="span2">
          <h1 class="title">MILLWATS</h1>
          <div class="desc">(THERMAL)PER SQUARE METER</div>

          <div class="span3">
            <div class="filter40-60"></div>
            <div class="filterLabel">40-60</div>
          </div>
          <div class="span1"></div>

          <div class="span3">
            <div class="filter60-80"></div>
            <div class="filterLabel">60-80</div>
          </div>
          <div class="span1"></div>

          <div class="span3">
            <div class="filter80-100"></div>
            <div class="filterLabel">80-100</div>
          </div>

        </div>

        <div class="span4">
          <div class='certainty-slider' ui-slider min="0" max="100" ng-model="demoVals.sliderExample9"></div>
          <div class="scale">
            <img src="css/images/certainty-scale.png" alt="">
          </div>
        </div>

        <div class="span4 scale_details">
          <div class="span12 scale_display">
            <div class="span6"><span>TOTAL PROSPECTS</span></div>
            <div class="span6"><input type='text' ng-model="demoVals.sliderExample9" readonly /></div>
          </div>
          <button class='btn-gen btn-green'><i class="ionicons ion-ios7-loop-strong"></i> REFRESH</button>
        </div>

        <div class="span2 quick-icons">
          <div class="ionicons ion-printer"></div>
          <div class="ionicons ion-ios7-paperplane-outline"></div>
        </div>
    </div>
    <!-- row-fluid -->
  </div>
  <!-- container -->
</div>
<!-- \#Certainty -->
<hr>

<div class="container filter-bar">
  <div class="row-fluid">
    <div class="span8">
      <ul class="filter-list">
        <li class="fa fa-bars">PROSPECT FILTER
          <ul>
            <li><a class="ionicons ion-ios7-location-outline" href="#">Property</a></li>
            <li><a class="ionicons ion-stats-bars" href="#">Financial</a></li>
            <li><a class="ionicons ion-briefcase" href="#">Professions</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="span4">
      <button class="btn-gen btn-blue">SAVE LIST</button>
      <button class="btn-gen btn-red">FINISH</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <table id="Prospect-Table" border="1" ng-app="tablemod">
        <thead>
          <th class="firstcol" align='left'><i class="ionicons ion-ios7-reload"></i></th>
          <th colspan='13'>
            <span class="thleft">Hot List for Refi</span>
            <span class="thright off">1-50 of 300</span>
          </th>
          <th width="4%"><a href="#"><i class='fa fa-angle-left off'></i></a></th>
          <th width="4%"><a href="#"><i class='fa fa-angle-right off'></i></a></th>
        </thead>
        <tbody>
          <tr>
            <td class="check"
              ng-class="{'on': this.isActive1}"
              ng-init="{this.isActive1 = false}"
              ng-click="this.isActive1 = !this.isActive1"
            ><i class="fa fa-check"></i></td>
            <td class="star"
              ng-class="{'son': this.isActive11}"
              ng-init="{this.isActive11 = false}"
              ng-click="this.isActive11 = !this.isActive11"
            ><i class="fa fa-star-o"></i></td>
            <td>Lorem Ipsum</td>
            <td>Michael J. Morgan</td>
            <td>Engineer</td>
            <td>Lorem</td>
            <td>sit amet</td>
            <td>consectetuer</td>
            <td>adipiscing elit</td>
            <td><hr class="M"></td>
            <td>domain.com</td>
            <td>Yes</td>
            <td>123</td>
            <td colspan='7' width="10%">Today, 10:15 PM</td>
          </tr>
          <tr>
            <td class="check"
              ng-class="{'on': this.isActive2}"
              ng-init="{this.isActive2 = false}"
              ng-click="this.isActive2 = !this.isActive2"
            ><i class="fa fa-check"></i></td>
            <td class="star"
              ng-class="{'son': this.isActive21}"
              ng-init="{this.isActive21 = false}"
              ng-click="this.isActive21 = !this.isActive21"
            ><i class="fa fa-star-o"></i></td>
            <td>Lorem Ipsum</td>
            <td>Michael J. Morgan</td>
            <td>Engineer</td>
            <td>Lorem</td>
            <td>sit amet</td>
            <td>consectetuer</td>
            <td>adipiscing elit</td>
            <td><hr class="C"></td>
            <td>domain.com</td>
            <td>Yes</td>
            <td>123</td>
            <td colspan='7' width="10%">Today, 10:15 PM</td>
          </tr>
          <tr>
            <td class="check"
              ng-class="{'on': this.isActive3}"
              ng-init="{this.isActive3 = false}"
              ng-click="this.isActive3 = !this.isActive3"
            ><i class="fa fa-check"></i></td>
            <td class="star"
              ng-class="{'son': this.isActive31}"
              ng-init="{this.isActive31 = false}"
              ng-click="this.isActive31 = !this.isActive31"
            ><i class="fa fa-star-o"></i></td>
            <td>Lorem Ipsum</td>
            <td>Michael J. Morgan</td>
            <td>Engineer</td>
            <td>Lorem</td>
            <td>sit amet</td>
            <td>consectetuer</td>
            <td>adipiscing elit</td>
            <td><hr class="Y"></td>
            <td>domain.com</td>
            <td>Yes</td>
            <td>123</td>
            <td colspan='7' width="10%">Today, 10:15 PM</td>
          </tr>
          <tr>
            <td class="check"
              ng-class="{'on': this.isActive4}"
              ng-init="{this.isActive4 = false}"
              ng-click="this.isActive4 = !this.isActive4"
            ><i class="fa fa-check"></i></td>
            <td class="star"
              ng-class="{'son': this.isActive41}"
              ng-init="{this.isActive41 = false}"
              ng-click="this.isActive41 = !this.isActive41"
            ><i class="fa fa-star-o"></i></td>
            <td>Lorem Ipsum</td>
            <td>Michael J. Morgan</td>
            <td>Engineer</td>
            <td>Lorem</td>
            <td>sit amet</td>
            <td>consectetuer</td>
            <td>adipiscing elit</td>
            <td><hr class="M"></td>
            <td>domain.com</td>
            <td>Yes</td>
            <td>123</td>
            <td colspan='7' width="10%">Today, 10:15 PM</td>
          </tr>
          <tr>
            <td class="check"
              ng-class="{'on': this.isActive5}"
              ng-init="{this.isActive5 = false}"
              ng-click="this.isActive5 = !this.isActive5"
            ><i class="fa fa-check"></i></td>
            <td class="star"
              ng-class="{'son': this.isActive51}"
              ng-init="{this.isActive51 = false}"
              ng-click="this.isActive51 = !this.isActive51"
            ><i class="fa fa-star-o"></i></td>
            <td>Lorem Ipsum</td>
            <td>Michael J. Morgan</td>
            <td>Engineer</td>
            <td>Lorem</td>
            <td>sit amet</td>
            <td>consectetuer</td>
            <td>adipiscing elit</td>
            <td><hr class="C"></td>
            <td>domain.com</td>
            <td>Yes</td>
            <td>123</td>
            <td colspan='7' width="10%">Today, 10:15 PM</td>
          </tr>
          <tr>
            <td class="check"
              ng-class="{'on': this.isActive6}"
              ng-init="{this.isActive6 = false}"
              ng-click="this.isActive6 = !this.isActive6"
            ><i class="fa fa-check"></i></td>
            <td class="star"
              ng-class="{'son': this.isActive61}"
              ng-init="{this.isActive61 = false}"
              ng-click="this.isActive61 = !this.isActive61"
            ><i class="fa fa-star-o"></i></td>
            <td>Lorem Ipsum</td>
            <td>Michael J. Morgan</td>
            <td>Engineer</td>
            <td>Lorem</td>
            <td>sit amet</td>
            <td>consectetuer</td>
            <td>adipiscing elit</td>
            <td><hr class="Y"></td>
            <td>domain.com</td>
            <td>Yes</td>
            <td>123</td>
            <td colspan='7' width="10%">Today, 10:15 PM</td>
          </tr>
          <tr>
            <td class="check"
              ng-class="{'on': this.isActive7}"
              ng-init="{this.isActive7 = false}"
              ng-click="this.isActive7 = !this.isActive7"
            ><i class="fa fa-check"></i></td>
            <td class="star"
              ng-class="{'son': this.isActive71}"
              ng-init="{this.isActive71 = false}"
              ng-click="this.isActive71 = !this.isActive71"
            ><i class="fa fa-star-o"></i></td>
            <td>Lorem Ipsum</td>
            <td>Michael J. Morgan</td>
            <td>Engineer</td>
            <td>Lorem</td>
            <td>sit amet</td>
            <td>consectetuer</td>
            <td>adipiscing elit</td>
            <td><hr class="M"></td>
            <td>domain.com</td>
            <td>Yes</td>
            <td>123</td>
            <td colspan='7' width="10%">Today, 10:15 PM</td>
          </tr>
          <tr>
            <td class="check"
              ng-class="{'on': this.isActive8}"
              ng-init="{this.isActive8 = false}"
              ng-click="this.isActive8 = !this.isActive8"
            ><i class="fa fa-check"></i></td>
            <td class="star"
              ng-class="{'son': this.isActive81}"
              ng-init="{this.isActive81 = false}"
              ng-click="this.isActive81 = !this.isActive81"
            ><i class="fa fa-star-o"></i></td>
            <td>Lorem Ipsum</td>
            <td>Michael J. Morgan</td>
            <td>Engineer</td>
            <td>Lorem</td>
            <td>sit amet</td>
            <td>consectetuer</td>
            <td>adipiscing elit</td>
            <td><hr class="C"></td>
            <td>domain.com</td>
            <td>Yes</td>
            <td>123</td>
            <td colspan='7' width="10%">Today, 10:15 PM</td>
          </tr>
          <tr>
            <td class="check"
              ng-class="{'on': this.isActive9}"
              ng-init="{this.isActive9 = false}"
              ng-click="this.isActive9 = !this.isActive9"
            ><i class="fa fa-check"></i></td>
            <td class="star"
              ng-class="{'son': this.isActive91}"
              ng-init="{this.isActive91 = false}"
              ng-click="this.isActive91 = !this.isActive91"
            ><i class="fa fa-star-o"></i></td>
            <td>Lorem Ipsum</td>
            <td>Michael J. Morgan</td>
            <td>Engineer</td>
            <td>Lorem</td>
            <td>sit amet</td>
            <td>consectetuer</td>
            <td>adipiscing elit</td>
            <td><hr class="Y"></td>
            <td>domain.com</td>
            <td>Yes</td>
            <td>123</td>
            <td colspan='7' width="10%">Today, 10:15 PM</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src='js/slider.js'></script>

<script src='js/slider.mod.js'></script>
</body>
</html>
