.account__status {
  float:right;
  margin:10px 10px 0 0;
  a {
    position:relative;
    display:block;
    color:#fff;
    text-decoration:none;
    border:1px solid #fff;
    padding:5px 10px;
    @include radius(50%);
    &:before {
      font-family: FontAwesome;
      content:"\f007";
      font-size:em(28px);
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
    }
  }
}