.filter__controller--dropdown {
  margin:0 0 15px 0;
  overflow:auto;
  clear:both;
  text-align:center;
  position:relative;
  &:hover,
  &:focus {
    & > a {
      //border-bottom-color:transparent;
    }
    ul {
      display:block;
    }
  }
  & > a {
    display:inline-block;
    background: #fff;
    border: 1px solid #ccc;
    position: relative;
    padding: 0 10px 0 0;
    text-decoration:none;
    color:#555;
    font-weight:400;
    text-transform:uppercase;
    font-size:em(16px);
    //float:left;

    @include box__sizing(border-box);
    &:before {
      display: inline-block;
      margin-right: 0;
      padding: 10px;
      cursor: pointer;
      font-size:28px;
    }
    &:first-child {
      margin-right:50px;
    }
    &.active{
      background: $color__brand--secondary;
      color: #fff;

      &:before {
        color: #fff;

      }
    }
  }
  ul {
    clear:both;
    display:none;
    position:absolute;
    width:100%;
    z-index:10;
    background:#fff;
    border:1px solid #ccc;
    border-top:0;
    @include box__sizing(border-box);
    a {
      display: block;
      width: 100%;
      color: #111;
      text-decoration: none;
      font-size:em(14px);
      &:hover,
      &:focus {
        background: $color__brand;
        color:#fff;
        &:before {
          color:#fff;
        }
      }
      &:before {
        text-align: center;
        padding: 10px 20px 10px 10px;
        font-size:20px;
        width:15px;
      }
    }
    li {
      list-style:none;
    }
  }
}