.filter__controller--list {
  width:25%;
  float:left;
  .filter__controller--list--inside {
    padding-left:20px;

  }

  .filter__aux {
    text-align:right;

    clear:both;
    margin:0 0px 10px 10px;
    a {
      display:inline-block;
      padding:10px 15px 12px 40px;
      background: $color__brand;
      color:#fff;
      font-size:16px;
      text-decoration:none;
      position:relative;
      margin-top:20px;
      &:before {
        position:absolute;
        left:0;
        top:0;
        font-size:22px;
        padding:10px;
        margin-right:5px;
      }
    }
  }

}