.heatmap__control--slider {
  width:510px;
  height:44px;
  float:left;
  padding:25px 0 40px 0;
  margin:0 25px;
  position:relative;
  background:url(#{$images}/certainty-scale.png) no-repeat 40px bottom;

  .ui-slider {
    background: -webkit-linear-gradient(left, #00d5c3, #f3ed7b, #ee4363);
    background: -o-linear-gradient(left, #00d5c3, #f3ed7b, #ee4363);
    background: linear-gradient(to right, #00d5c3, #f3ed7b, #ee4363);
    border: 1px solid #666;
    border-radius: 0;
    height: 24px;
    margin: 0 auto 15px 45px;
    position:relative;
    width:415px;
    //background-color:$color__brand--secondary;

  }
  .ui-slider-handle {
    cursor:pointer;
    height: 40px;
    width: 30px;
    border: 0;
    position:absolute;
    top:-5px;
    margin-left:-15px;
    background:url(#{$images}/handle.png) no-repeat center/cover;
  }
  .ui-slider-range {
    height:30px;
    background:url(#{$images}/certainty-range.jpg) repeat-x top left;

  }
  .control {
    background:url(#{$images}/certainty_arrows.png) no-repeat 0 0;
    width: 27px;
    height: 28px;
    position:absolute;
    top:23px;
    &.up {
      background-position:-46px 0;
      right:0;
    }
    &.down {
      left:0;
    }
  }
  .certain--label  {
    bottom: -20px;
    font-weight: 400;
    position: absolute;
    font-size: 11px;
    text-transform: uppercase;
    &.left {
      left:0;
      color:#00c0ff;
    }
    &.right {

      right:0;
      color:#ee4363;

    }
  }
}