.short__list {
  overflow:auto;
  clear:both;
  border: 1px solid #ced0d5;
  @include radius(5px);

  ul {
    list-style:none;
    margin:0;
    padding:0;
  }

  .header {
    background: $color__brand--secondary;
    color:#fff;
    text-align:center;
    margin:0;
    padding:10px 0;
    text-transform:uppercase;
    font-weight:300;
    font-size:18px;
    @include radius(5px 5px 0 0);

  }
  .count {
    font-size:13px;
    text-transform:none;
    display:block;
    padding:5px 10px 5px 10px;
    text-align:center;
  }
  .property--list {
    padding:5px 10px;
    & > li {
      position:relative;
      border-bottom:1px solid #ccc;
      margin:10px 0 0 0;
      padding:0 0 10px 0;
      &.empty {
        border-bottom:none;
        text-align:center;
        padding: 10px 0 20px 0;
        margin: 0;
      }
      &.last {
        border-bottom:none;
        padding: 0 0 20px 0;
      }
    }
  }
  .property--prospects {
    font-size:13px;
  }
  .property--price {
    padding:10px 0;
    .value {
      font-size:16px;
      font-weight:600;

    }
  }

  .property--duration {
    clear:both;
    padding:10px 0;
    ul {
      padding:0 0 0 2px;
      overflow:auto;
    }
    li {
      float:left;
      margin-right:10px;
    }
  }
  .item__include {
    float:left;
    margin:10px;
  }
  .short__list--item {
    overflow:hidden;
    padding:6px 0;
    margin-left:20px;
    h2 {
      font-size:16px;
    }
    p {
      margin:0 0 5px 0;
    }
  }
  .short__list--footer {
    overflow:auto;
    clear:both;
    .total {
      float:right;
      text-align:right;
      margin:10px 10px 10px 10px;
    }
  }

  .delete--button {
    display:block;
    color: $color__brand;
    font-size:18px;
    position:absolute;
    right:5px;
    top:5px;
  }
}