.status__wrap {
  float: right;
  margin: 10px 20px 0 0;
  text-align:left;
  p{
    margin:0;
    color:#fff;
    font-size:em(14px);
    margin-right:10px;
  }
  .credits {
    font-weight:600;
  }
}