{% extends "RefiBundle::base.html.twig" %}

{% block header %}
<h2>Header</h2>
{# {% if error %}
    <div>{{ error.message }}</div>
{% endif %}

<form action="{{ path('login_check') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />

    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />


    <button type="submit">login</button>
</form> #}

{% endblock header %}





{% block content %}
<div ng-controller="map__controller" class="map__container" >
  <div id="heatmap" class="angular-google-map-container"></div>
</div>
<div class="data__loading">
  <h2>Loading Data</h2>
</div>

{% include "RefiBundle:Application:controls.heatmap.html.twig" %}
{% include "RefiBundle:Dashboard:controls.filter.html.twig" %}
{% endblock content %}





{% block footer %}
  {{ parent() }}
{% endblock footer %}

