{% extends "RefiBundle::tempBase2.html.twig" %}

{% block header %}

{% endblock header %}





{% block content %}
<style>
  .calcbox h2 { font-size: 32px; font-weight: 400; color: #555; margin: 15px  0; text-transform: uppercase; }
  .propertyRow .error { display:none; color:red; font-weight:600;margin:0 0 20px 0; }
</style>
{% if its_empty is defined %}
	<div class="container">
	  <div class="row-fluid">
		<div class="span12">
		  <br/><br/>
		  You have no prospects to be blasted yet. Go to the campaign screen first!
		</div>
	  </div>
	</div>
{% else %}
<!-- row2  -->
<div class="container row2 calcbox">
      <h2>Report Setup</h2>
  <div class="row-fluid whitebox">
  <form method="post" action="{{ url('refi_calculator') }}" id="calculator_form">
    <div class="span12">
      <div class="boxhead">
        <i class="fa fa-cogs"></i>MODEL SETUP - Required
      </div>
    </div>

    <div class="row-fluid">
      <div class="span6 pad">
        <div class="propertyRow">
          <label for="PropertyNum">LTV% At Purchase </label><input type="text" placeholder="70"  value="70" name="ltv_at_purchase" id="ltv_at_purchase" />
          <p class="error ltv_at_purchase">LTV cannot be blank</p>
        </div>
{#         <div class="propertyRow">
          <label for="PropertyNum">Loan Term </label><input type="text" placeholder="30"  value="" name="loan_term" id="loan_term" >
          <p class="error loan_term">Loan term cannot be blank</p>
        </div> #}
        <div class="propertyRow">
          <label for="PropertyNum">Existing Loan Mortgage Rate </label><input type="text" placeholder="3" name="existing_loan_mortgage_rate" id="existing_loan_mortgage_rate" value="3" />
          <p class="error existing_loan_mortgage_rate">Mortgage rate cannot be blank</p>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="boxhead">
      <i class="fa fa-question"></i>ADDITIONAL INFORMATION (Optional)
    </div>

    <br/>

    <div class="container proffin">
      <br>

      <table>
        <tr>
          <td></td>
          <td class="head">First Year</td>
          <td class="head">Second Year</td>
          <td class="head">Third Year</td>
		  <td class="head">Fourth Year</td>
		  <td class="head">Fifth Year</td>
          <td class="head">Onwards</td>
        </tr>
        <tr class="data">
          <td>Current Interest Rates:</td>
          <td><input type="text" placeholder="3.0" style="width: 100px;"  name="current_first_year" id="current_first_year" ></td>
          <td><input type="text" placeholder="3.0" style="width: 100px;"  name="current_second_year" id="current_second_year" ></td>
          <td><input type="text" placeholder="4.0" style="width: 100px;"  name="current_third_year" id="current_third_year" ></td>
          <td><input type="text" placeholder="4.0" style="width: 100px;"  name="current_fourth_year" id="current_fourth_year" ></td>
		  <td><input type="text" placeholder="5.0" style="width: 100px;"  name="current_fifth_year" id="current_fifth_year" ></td>
		  <td><input type="text" placeholder="5.0" style="width: 100px;"  name="current_onwards" id="current_onwards" ></td>
        </tr>
{#         <tr>
          <td></td>
          <td class="head">First Year</td>
          <td class="head">Second Year</td>
          <td class="head">Third Year</td>
          <td class="head">Onwards</td>
        </tr>
        <tr class="data">
          <td>HSBC Bank:</td>
          <td><input type="text" value="5.0"></td>
          <td><input type="text" value="5.0"></td>
          <td><input type="text" value="6.0"></td>
          <td><input type="text" value="6.0"></td>
        </tr> #}
        <tr>
          <td></td>
          <td class="head">First Year</td>
          <td class="head">Second Year</td>
          <td class="head">Third Year</td>
		  <td class="head">Fourth Year</td>
		  <td class="head">Fifth Year</td>
          <td class="head">Onwards</td>
        </tr>
        <tr class="data">
          <td>Refi Rates:</td>
          <td><input type="text" placeholder="2.0" style="width: 100px;"  name="refi_first_year" id="refi_first_year" ></td>
          <td><input type="text" placeholder="2.0" style="width: 100px;"  name="refi_second_year" id="refi_second_year" ></td>
          <td><input type="text" placeholder="3.0" style="width: 100px;"  name="refi_third_year" id="refi_third_year" ></td>
          <td><input type="text" placeholder="3.0" style="width: 100px;"  name="refi_fourth_year" id="refi_fourth_year" ></td>
		  <td><input type="text" placeholder="4.0" style="width: 100px;"  name="refi_fifth_year" id="refi_fifth_year" ></td>
		  <td><input type="text" placeholder="4.0" style="width: 100px;"  name="refi_onwards" id="refi_onwards" ></td>
        </tr>
      </table>
      <br>
    </div>
  <input type="hidden" name="calc_form" value="1" />
  </form>
  </div>
  <!-- \whitebox  -->
</div>
<!-- \row2  -->
<br>

<!-- row 3 -->
<div class="container row6 calcbox">
  <div class="row-fluid">
	<div class="filter__aux">
	  <a class="ionicons ion-ios7-cart" href="#" onClick="submitCalc(); return false;" >Preview Report</a>
	</div>
    <div class="clr"></div>
  </div>
</div>
<!-- \row 3 -->
<script type="text/javascript">
	function submitCalc() {
		if( !$('#ltv_at_purchase').val() ) {
		$('.ltv_at_purchase').show();
			return false;
		} else if( !$('#existing_loan_mortgage_rate').val() ) {
		$('.existing_loan_mortgage_rate').show();
			return false;
		} else {
		$('.error').hide();
			$("#calculator_form").submit();
		}
	}
</script>
{% endif %}

{% endblock content %}





{% block footer %}
  {{ parent() }}
{% endblock footer %}

