{% extends "RefiBundle::tempBase2.html.twig" %}

{% block header %}

{% endblock header %}





{% block content %}


{# <!-- row 1: property details + map   -->
<div class="container row1">
  <div class="row-fluid whitebox">
    <div class="span12">
      <div class="whitebox">
        <div class="boxhead">
          <i class="ionicons ion-briefcase"></i>PROSPECT ASSETS
        </div>

        <div class="row-fluid pad">
          <div class="span2">
            <div class="profile-img"></div>
          </div>
          <div class="span10">
            <div class="profile-info">
              <h3 class="s3 name">Kenneth Cheong</h3>
              <div class="s1 title">Senior Key Account Manager</div>
              <div class="s2 loc"><i class="ionicons ion-ios7-location-outline"></i>Sidney, Australia</div>
            </div>
          </div>
        </div>

        <div class="calcbox">
          <div class="row-fluid">
            <div class="span6">
              <h1 class="coltitle">PERSONALS</h1>

              <div class="pad">
                <div class='gender clr'>
                  <label for="gender">Gender:</label>
                  <span class="text">Male</span>
                </div>

                <div class="contact-details clr">
                  <label for="contact-details">Contact Details:</label>
                  <span class="text">+65 9325 4255</span>
                </div>

                <div class="age clr">
                  <label for="age">Age:</label>
                  <span class="text">47</span>
                </div>

                <div class="years clr">
                  <label for="years">Years with Citibank:</label>
                  <span class="text">7 years</span>
                </div>

                <div class="status clr">
                  <label for="status">Client Status:</label>
                  <span class="text">Citigold</span>
                </div>
              </div>

              <!--  -->
              <h1 class="coltitle clr">ASSETS</h1>

              <div class="pad">
                <div class="bulleted clr">
                  <div class="property1">
                    <label for="Property1"><i class="ionicons ion-ios7-arrow-right"></i>Property 1:</label>
                    <div class="text">12 Sharkens Road, 212345</div>
                  </div>
                </div>

                <div class="bulleted clr">
                  <div class="property2 clr">
                    <label for="Property2"><i class="ionicons ion-ios7-arrow-right"></i>Property 2:</label>
                    <div class="text">
                      8 Tao Payoh Central <br>
                      <label class='mt_label' for="#">&nbsp;</label>Valuation: $1.2M
                    </div>
                  </div>
                </div>

                <div class="bulleted clr">
                  <div class="savings">
                    <label for="savings"><i class="ionicons ion-ios7-arrow-right"></i>Savings:</label>
                    <div class="text">$247,000</div>
                  </div>
                </div>

                <div class="bulleted clr">
                  <div class="other">
                    <label for="other"><i class="ionicons ion-ios7-arrow-right"></i>Other:</label>
                    <div class="text">None</div>
                  </div>
                </div>
              </div>


              <!--  -->
              <h1 class="coltitle clr">PRODUCTS</h1>

              <div class="pad">
                <div class="bulleted clr">
                  <div class="mortgage">
                    <label for="mortgage"><i class="ionicons ion-ios7-arrow-right"></i>Mortgage:</label>
                    <div class="text">
                      1/4/2009 , $475,000 <br>
                      <label for="#" class="mt_label"></label>Balance $220,000
                    </div>
                  </div>
                </div>

                <div class="bulleted clr">
                  <div class="credit-card">
                    <label for="credit"><i class="ionicons ion-ios7-arrow-right"></i>Credit Card:</label>
                    <div class="text">$2,300</div>
                  </div>
                </div>

                <div class="bulleted clr">
                  <div class="wealth-product">
                    <label for="wealth-product"><i class="ionicons ion-ios7-arrow-right"></i>Wealth Product:</label>
                    <div class="text">No</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="span6">
              <!--  -->
              <h1 class="coltitle clr">ASSETS</h1>

              <div class="pad">
                <div class="bulleted clr">
                  <div class="property1">
                    <label for="Property1"><i class="ionicons ion-ios7-arrow-right"></i>Property 1:</label>
                    <div class="text">12 Sharkens Road, 212345</div>
                  </div>
                </div>

                <div class="bulleted clr">
                  <div class="property2 clr">
                    <label for="Property2"><i class="ionicons ion-ios7-arrow-right"></i>Property 2:</label>
                    <div class="text">
                      8 Tao Payoh Central <br>
                      <label class='mt_label' for="#">&nbsp;</label>Valuation: $1.2M
                    </div>
                  </div>
                </div>

                <div class="bulleted clr">
                  <div class="savings">
                    <label for="savings"><i class="ionicons ion-ios7-arrow-right"></i>Savings:</label>
                    <div class="text">$247,000</div>
                  </div>
                </div>

                <div class="bulleted clr">
                  <div class="other">
                    <label for="other"><i class="ionicons ion-ios7-arrow-right"></i>Other:</label>
                    <div class="text">None</div>
                  </div>
                </div>
              </div>

              <!--  -->
              <h1 class="coltitle clr">PRODUCTS</h1>

              <div class="pad">
                <div class="bulleted clr">
                  <div class="mortgage">
                    <label for="mortgage"><i class="ionicons ion-ios7-arrow-right"></i>Mortgage:</label>
                    <div class="text">
                      1/4/2009 , $475,000 <br>
                      <label for="#" class="mt_label"></label>Balance $220,000
                    </div>
                  </div>
                </div>

                <div class="bulleted clr">
                  <div class="credit-card">
                    <label for="credit"><i class="ionicons ion-ios7-arrow-right"></i>Credit Card:</label>
                    <div class="text">$2,300</div>
                  </div>
                </div>

                <div class="bulleted clr">
                  <div class="wealth-product">
                    <label for="wealth-product"><i class="ionicons ion-ios7-arrow-right"></i>Wealth Product:</label>
                    <div class="text">No</div>
                  </div>
                </div>
              </div>

            </div>
          </div>



        </div>
        <!-- calcbox -->
      </div>
    </div>


  </div>
</div>
<!-- \row 1: property details + map   -->
 #}

<!-- row2  -->
<div class="container row2 calcbox">
      <h2 style="font-size: 32px;
font-weight: 400;
color: #555;
margin: 15px  0;
text-transform: uppercase;">Report Setup</h2>
  <div class="row-fluid whitebox">
    <div class="span12">
      <div class="boxhead">
        <i class="fa fa-cogs"></i>MODEL SETUP
      </div>
    </div>

    <div class="row-fluid">
      <div class="span6 pad">
        <div class="propertyRow"><label for="PropertyNum">Property number 1 </label><input type="text" placeholder="0"></div>
        <div class="propertyRow"><label for="PropertyNum">Property number 2 </label><input type="text" placeholder="0"></div>
        <div class="propertyRow"><label for="PropertyNum">Property number 3 </label><input type="text" placeholder="0"></div>
      </div>
      <div class="span6 pad">
        <div class="propertyRow"><label for="PropertyNum">Property number 4 </label><input type="text" placeholder="0"></div>
        <div class="propertyRow"><label for="PropertyNum">Property number 5 </label><input type="text" placeholder="0"></div>
      </div>
    </div>

    <h1 class="coltitle clr">Profiled Financial</h1>

    <div class="container proffin">
      <div class="row-fluid">
        <div class="span6">
          <div class="propertyRow"><label for="Debt">Debt </label><input type="text" value="$500,00"></div>
          <div class="propertyRow"><label for="#">Remaining Loan Term </label><input type="text" value="25 years"></div>
        </div>
        <div class="span6">
          <div class="propertyRow"><label for="#">Age</label><input type="text" value="34 years"></div>
          <div class="propertyRow"><label for="#">Current Bank</label><input type="text" value="DBS"></div>
        </div>
      </div>
      <br>

      <table>
        <tr>
          <td></td>
          <td class="head">First Year</td>
          <td class="head">Second Year</td>
          <td class="head">Third Year</td>
          <td class="head">Onwards</td>
        </tr>
        <tr class="data">
          <td>Current Interest Rates:</td>
          <td><input type="text" value="3.0%"></td>
          <td><input type="text" value="3.0%"></td>
          <td><input type="text" value="4.0%"></td>
          <td><input type="text" value="4.0%"></td>
        </tr>
        <tr>
          <td></td>
          <td class="head">First Year</td>
          <td class="head">Second Year</td>
          <td class="head">Third Year</td>
          <td class="head">Onwards</td>
        </tr>
        <tr class="data">
          <td>HSBC Bank:</td>
          <td><input type="text" value="5.0%"></td>
          <td><input type="text" value="5.0%"></td>
          <td><input type="text" value="6.0%"></td>
          <td><input type="text" value="6.0%"></td>
        </tr>
        <tr>
          <td></td>
          <td class="head">First Year</td>
          <td class="head">Second Year</td>
          <td class="head">Third Year</td>
          <td class="head">Onwards</td>
        </tr>
        <tr class="data">
          <td>Refi Rates:</td>
          <td><input type="text" value="2.0%"></td>
          <td><input type="text" value="2.0%"></td>
          <td><input type="text" value="3.0%"></td>
          <td><input type="text" value="3.0%"></td>
        </tr>
      </table>
      <br>
    </div>
  </div>
  <!-- \whitebox  -->
</div>
<!-- \row2  -->
<br>

<!-- row 3 -->
<div class="container row6 calcbox">
  <div class="row-fluid">

      <div class="span7 whitebox">
        <div class="boxhead"><i class='fa fa-volume-up'></i>REFI OFFER</div>
        <div class="pad">

          <div class="row-fluid pad">
            <div class="span6">
              <div class="row-fluid">
                <div class="span6"><b>Property Price:</b></div>
                <div class="span6">S$ 650,000.00</div>
              </div>
              <div class="row-fluid">
                <div class="span6"><b>Age:</b></div>
                <div class="span6">35</div>
              </div>
            </div>
            <div class="span6">
              <div class="row-fluid">
                <div class="span6"><b>Loan Amount:</b></div>
                <div class="span6">S$ 500,000.00</div>
              </div>
              <div class="row-fluid">
                <div class="span6"><b>Loan Period:</b></div>
                <div class="span6">25</div>
              </div>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span12 redRow">
              You can Reduce your Monthly repayment by <br>SGD299.29
            </div>
          </div>

          <div class="row-fluid">
            <div class="span12">
              <table class="sales-pitch" border="1">
                <thead>
                  <th width='15%'></th>
                  <th width='5%'></th>
                  <th width='9%'>CURRENT</th>
                  <th width='9%'>HSBC</th>
                  <th width='9%'>SAVINGS</th>
                </thead>
                <tbody>
                  <tr>
                    <td><span class="pitch-icon tla"></span>Total Loan Amount:</td>
                    <td>S$</td>
                    <td>500,000.00</td>
                    <td>200,000.00</td>
                    <td>50,000.00</td>
                  </tr>
                  <tr>
                    <td><span class="pitch-icon mpa"></span>Monthly Payment Amount:</td>
                    <td>S$</td>
                    <td>23,000.00</td>
                    <td>23,000.00</td>
                    <td>3,000.00</td>
                  </tr>
                  <tr>
                    <td><span class="pitch-icon ie"></span>Interest Expenses:</td>
                    <td>S$</td>
                    <td>3,000.00</td>
                    <td>2,000.00</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td><span class="pitch-icon f3y"></span>First 3 years:</td>
                    <td>S$</td>
                    <td>900,000.00</td>
                    <td>700,000.00</td>
                    <td>100,000.00</td>
                  </tr>
                  <tr>
                    <td><span class="pitch-icon f5y"></span>First 5 years:</td>
                    <td>S$</td>
                    <td>400,000.00</td>
                    <td>200,000.00</td>
                    <td>100,000.00</td>
                  </tr>
                  <tr>
                    <td><span class="pitch-icon f10y"></span>First 10 years:</td>
                    <td>S$</td>
                    <td>50,000.00</td>
                    <td>10,000.00</td>
                    <td>10,000.00</td>
                  </tr>
                  <tr>
                    <td><span class="pitch-icon te"></span>Total Exprenses:</td>
                    <td>S$</td>
                    <td>90,000.00</td>
                    <td>40,000.00</td>
                    <td>30,000.00</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
        <!-- bordered  -->

        <div class="clr"></div>
      </div>



      <div class="span5 whitebox">
        <div class="boxhead"><i class='fa fa-volume-up'></i>REFI OFFER</div>

        <div class="pad">
          <img src="/web/tempAssets/css/images/ie-graph.jpg" alt="">
          &nbsp;
        </div>

        <div class="clr"></div>
      </div>

        <div class="filter__aux">
          <a class="ionicons ion-ios7-cart" href="/report">Preview Report</a>
        </div>
    <div class="clr"></div>
  </div>
</div>
<!-- \row 3 -->


{% endblock content %}





{% block footer %}
  {{ parent() }}
{% endblock footer %}

