<div class="filter__controller">
  <div class="pg__width">
    <div class="filter__controller--header">
      <h2 class="active__filter"><i class="ionicons ion-document-text"></i>Filtering by: <span>Financials</span></h2>
      <div class="filter__controller--dropdown">
        <a class="fa fa-bars" href="#">Prospect Filter</a>
        <ul>
          <li><a href="property.html" class="ionicons ion-ios7-location-outline">Property</a></li>
          <li><a href="financials.html" class="active ionicons ion-stats-bars">Financial</a></li>
          <li><a href="professions.html" class="ionicons ion-briefcase">Professions</a></li>
        </ul>
      </div>
    </div>

    <div class="filter__controller--controls">
      <div class="prospect--box" ng-controller="filter_controller">
        <div class="filter__controls--label ionicons ionicons ion-cash">
          Income PA
        </div>
        <div class="slider__wrap">

          <div class="financials__income" ng-model="filterVals.financials__income"></div>

        </div>
        <div class="clr"></div>
      </div>
    </div>
    <div class="filter__controller--list">


      <div class="filter__aux">

      </div>
    </div>
  </div>
</div>