

{% extends "RefiBundle::base.html.twig" %}

{% block header %}
<h2>Header</h2>
{% endblock header %}





{% block content %}
<h2>Body</h2>
<p>SECURE NIGGAH!!!</p>
{% endblock content %}





{% block footer %}
  {{ parent() }}
  <h2>Footer</h2>
{% endblock footer %}

