<div class="pg__width">
  <h2><span>Hot</span>Refis</h2>

  <div class="hd__auxwrap">
    <a href="#"></a>
  </div>
</div>
<div class="global__nav">
  <div class="pg__width">
    <nav>
      <ul>
        <li><a href="/professions" class="ionicons ion-ios7-home-outline">HOME</a></li>
        <li><a href="/filters" class="ionicons ion-navicon">FILTERS</a></li>
        <li><a href="/list" class="ionicons ion-ios7-people">PROSPECT LIST</a></li>
        <li><a href="/calculator" class="ionicons ion-ios7-calculator">REFI CALCULATOR</a></li>
        <li><a href="/report" class="ionicons ion-ios7-paper-outline">REPORTS</a></li>
      </ul>
    </nav>
  </div>
</div>