<div class="pg__width">
  {# <h2><span>Hot</span>Refis</h2> #}
</div>
<div class="global__nav">
  <div class="pg__width">
    <a href="#" class="logo"></a>

    <nav>
      <ul>
        {# <li><a href="/professions" class="ionicons ion-ios7-home-outline">HOME</a></li> #}
        <li><a href="/dashboard" class="ionicons ion-map">DASHBOARD</a></li>
        <li><a href="/list" class="ionicons ion-ios7-people">PROSPECT LIST</a></li>
        <li><a href="/calculator" class="ionicons ion-ios7-calculator">REFI CALCULATOR</a></li>
        <li><a href="/report" class="ionicons ion-ios7-paper-outline">REPORTS</a></li>
      </ul>
    </nav>

    <div class="hd__auxwrap">
      <div class="status__wrap">
        <p>{% if name is defined %}{{ name }}{% endif %}</p>
        <p><span class="credits">{% if credits is defined %}{{ credits }}{% endif %}</span> credits</p>
		    <input type="hidden" id="sectors_owned" value="{% if sectors_owned is defined %}{{ sectors_owned }}{% endif %}" />
      </div>

      <div class="account__status">
        <a class="" href="#"></a>
      </div>
    </div>
  </div>
</div>