{% extends "RefiBundle::tempBase.html.twig" %}

{% block header %}
{% endblock header %}





{% block content %}
{# <div ng-controller="map__controller" class="map__container" >
  <div id="heatmap" class="angular-google-map-container"></div>
</div> #}


<div class="container" style="clear:both; margin-top:25px;">
  <div class="row-fluid">
    <div class="span12">
      <h2 style="font-size: 32px;
         font-weight: 400;
         color: #555;
         margin: 15px  0;
         text-transform: uppercase;">Sending your reports</h2>
      <div id="progressbar"><div class="progress-label">Loading...</div></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
      var progressbar = $( "#progressbar" ),
      progressLabel = $( ".progress-label" );

    progressbar.progressbar({
      value: false,
      change: function() {
        progressLabel.text( progressbar.progressbar( "value" ) + "%" );
      },
      complete: function() {
        progressLabel.text( "Complete!" ).css('color', '#fff');
        window.location.href="/blast/summary/";

      }
    });



   //calling the AJAX
    $.ajax({
        url: '/api/report/save',
        method: 'POST',
        dataType: 'json',
        success: function(data){
          //console.log(data.percent);
          progressbar.progressbar( "value", data.percent );
          if (data.percent != 100){
             //Not 100
             console.log('nope');
            reCallAjax();
          }
        }
    });
    function reCallAjax() {
      var done = false;
      console.log('recalling');

      $.ajax({
          url: '/api/report/save',
          method: 'POST',
          dataType: 'json',
          success: function(data){
            //console.log("Recalling: "+data.percent);
            progressbar.progressbar( "value", data.percent );

            if (data.percent != 100){
               //Not 100
              reCallAjax();
            }
          }
      });
    }
  });
</script>
{% endblock content %}





{% block footer %}
  {{ parent() }}
{% endblock footer %}

