{# default Sliding pagination control implementation #}

{% if previous is defined %}
	<th width="4%"><a href="{{ path(route, query|merge({(pageParameterName): previous})) }}"><i class='fa fa-angle-left'></i></a></th>
{% else %}
	<th width="4%"><a href="#"><i class='fa fa-angle-left'></i></a></th>
{% endif %}

{% if next is defined %}
	<th width="4%"><a href="{{ path(route, query|merge({(pageParameterName): next})) }}"><i class='fa fa-angle-right'></i></a></th>
{% else %}
	<th width="4%"><a href="#"><i class='fa fa-angle-right'></i></a></th>
{% endif %}
